@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ranchers&display=swap');


:root {
    --clr-primary-200: ghostwhite;
    --clr-primary-400: #2e8df1;
    --clr-primary-600: rgb(94, 5, 22);

    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Lato', sans-serif;
    --ff-display: 'Ranchers', cursive;

}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
    color: var(--clr-primary-200);
}

a.nav-link {
   color: yellow;
}

.navbar-nav {
    width: 70%;
    padding-right: 3em;
    font-size: 1.5em;
}

img.logo {
    margin-left: 20px;
}

.logo {
    background-color: var(--clr-primary-200);
    width: 7em;
    height: 7em;
    border: .25em inset var(--clr-primary-600);
    border-radius: 50%;

}

.jumbotron h1 {
    font-family: var(--ff-display);
    color: var(--clr-primary-600);
    /* background-color: var(--clr-primary-200); */
    text-align: center;
    font-size: 3em;
    letter-spacing: .08em;
}

.jumbotron p {
    text-align: center;
    font-family: var(--ff-primary);
    color: var(--clr-primary-600);
}

/* .lead img {
    height: em;
    width: 3em;
} */

img {
    display: block;
    height: 20em;
    width: 22em;
}

section {
    padding: 4rem 0;

    @media (min-width: 40em) {

        header,
        section {
            padding: 7rem 0;
        }
    }
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split>* {
        flex-basis: 100%;
    }

    .split>*+* {
        margin-left: 2em;
    }
}

/* .container--narrow {
    max-width: 34rem;
  } */

.split h2 {
    font-family: var(--ff-primary);
    color: var(--clr-primary-400);
}

.split p {
    font-family: var(--ff-primary);
    color: var(--clr-primary-600);
}

.first img {
    float: left;
}

.first p+h2 {
    text-align: right;
}

.second img {
    float: right;
}

.first p+h2 {
    text-align: left;
}

.first {
    border: 4px ridged var(--clr-primary-600);
}

.social {
    width: 100%;
    text-align: center;
}

.social li {

    display: inline-block;
}

.social li i {
    margin: 5px;
    font-size: 3.9em;
    background-color: var(--clr-primary-400);
    border-radius: 20%;
}

.social li i:hover,
.social li i:focus {
    background-color: var(--clr-primary-600);
}


footer {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: -50%; */
    color: var(--clr-primary-200);
    text-align: center;
}

nav {
    top: 0;
    left: 0;
    position: absolute;
}

/* .skull{
    background-image: url("assets/dark\ sugar\ skull.jpg");
    z-index: -5;
    background-color: rgba(240,240,240,.03);
} */

.skull {
    /* position: fixed; */
    display: grid;
    grid-template-columns: .75fr 3fr 3fr .75fr;
    gap: 15px;
}

.bburrito {
    grid-column: 2;
    grid-row: 1;
    text-align: end;
    width: 100%;
}

.ccoffee {
    grid-column: 3;
    text-align: start;
    width: 100%;
}

.addOn {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-family: var(--ff-display);
    margin-top: -4em;
    letter-spacing: 4px;
    margin-bottom: 3rem;
}

.bburrito h1,
.ccoffee h1 {
    font-family: var(--ff-display);
    text-align: right;
    padding: 1.5em;
    letter-spacing: 5px;
}

.bburrito ul li {
    list-style-type: none;
    font-family: var(--ff-primary);
    text-align: left;
    font-weight: bold;
}

.ccoffee ul li {
    list-style: none;
    font-family: var(--ff-primary);
    text-align: left;
    font-weight: bold;
}

.bburrito ul li span,
.ccoffee ul li span,
.addOn p span {
    float: right;
}

.addOn p{
    font-size: .8rem;
    /* text-align: left; */
}



.bburrito ul p
 {
    font-family: var(--ff-secondary);
    font-size: .8rem;
    text-align: left;
}

.ccoffee p {
    font-family: var(--ff-secondary);
    font-size: .69rem;
    text-align: center;
}

.thought {
    font-family: var(--ff-primary);
    line-height: 1.75rem;
}
.thought ol{
    font-family: var(--ff-secondary);
}